<table>
  <tr>
    <th>Title</th>
  </tr>
  <% @notes.each do |note| %>
    <tr>
      <td><%= link_to note.title, note %></td>
      <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>